@model HerenciaPolimorfismoAppModels

@{
    Layout = "_Layout";
}
<link href="~/css/HerenciaPOO.css" rel="stylesheet" />

<section class="HerenciaPOO">

    <section class="section">



        <div class="contenido">

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Estudiante
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Nombre: @Model.Estudiante.nombre </p>
                            <p>Apellido: @Model.Estudiante.apellido </p>
                            <p>Edad: @Model.Estudiante.identificacion </p>
                            <p>Estado civil: @Model.Estudiante.estadoCivil </p>
                            <p>Matricula: @Model.Estudiante.curso</p>
                        </div>
                        <div class="appDivBtn">
                            <a asp-action="editarCurso" class="btn btn-outline-dark">Matricular curso</a>
                            <a asp-action="CambiarEstadoCivil" asp-route-persona="Estudiante" class="btn btn-outline-dark">Cambiar estado civil</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Administrativo
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Nombre: @Model.Administrativo.nombre </p>
                            <p>Apellido: @Model.Administrativo.apellido </p>
                            <p>Edad: @Model.Administrativo.identificacion </p>
                            <p>Estado civil: @Model.Administrativo.estadoCivil </p>
                            <p>Dependencia: @Model.Administrativo.dependencia</p>
                        </div>
                        <div class="appDivBtn">
                            <a asp-action="ModificarDependencia" class="btn btn-outline-dark">Cambiar dependencia</a>
                            <a asp-action="CambiarEstadoCivil" asp-route-persona="Administrativo" class="btn btn-outline-dark">Cambiar estado civil</a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            Empreado
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Nombre: @Model.Empleado.nombre </p>
                            <p>Apellido: @Model.Empleado.apellido </p>
                            <p>Edad: @Model.Empleado.identificacion </p>
                            <p>Estado civil: @Model.Empleado.estadoCivil </p>
                            <p>Fecha Incorporacion: @Model.Empleado.anioIncorporacion</p>
                        </div>
                        <div class="appDivBtn">
                            <a asp-action="CambiarEstadoCivil" asp-route-persona="Empleado" class="btn btn-outline-dark">Cambiar estado civil</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            Profesor
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Nombre: @Model.Profesor.nombre </p>
                            <p>Apellido: @Model.Profesor.apellido </p>
                            <p>Edad: @Model.Profesor.identificacion </p>
                            <p>Estado civil: @Model.Profesor.estadoCivil </p>
                            <p>Facultad: @Model.Profesor.facultad</p>
                        </div>
                        <div class="appDivBtn">
                            <a asp-action="modificarFacultad" class="btn btn-outline-dark">Cambiar Facultad</a>
                            <a asp-action="CambiarEstadoCivil" asp-route-persona="Profesor" class="btn btn-outline-dark">Cambiar estado civil</a>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                            Servicio
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Nombre: @Model.Servicio.nombre </p>
                            <p>Apellido: @Model.Servicio.apellido </p>
                            <p>Edad: @Model.Servicio.identificacion </p>
                            <p>Estado civil: @Model.Servicio.estadoCivil </p>
                            <p>Labor: @Model.Servicio.labor</p>
                        </div>
                        <div class="appDivBtn">
                            <a asp-action="modificarLabor" class="btn btn-outline-dark">Cambiar labor</a>
                            <a asp-action="CambiarEstadoCivil" asp-route-persona="Servicio" class="btn btn-outline-dark">Cambiar estado civil</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>

<div>


</div>

<script>
    document.querySelectorAll('.accordion-collapse').forEach(function (collapse) {
        collapse.classList.add('show');  // Añadir la clase 'show' para que el acordeón se abra
    });

    document.querySelectorAll('.accordion-button').forEach(function (button) {
        button.classList.remove('collapsed');  // Remover la clase 'collapsed' de los botones para que se muestren como expandidos
    });

</script>