@using HerramientasDeProgramacionII.Models.Empleado
@model List<EmpleadoModel> 
@{
    Layout = "_Layout";
}
<link href="~/css/HerenciaPOO.css" rel="stylesheet" />
<link href="~/css/Empleado.css" rel="stylesheet" />
<section class="HerenciaPOO">

    <section class="section">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Empleado</h4>
                    <div class="d-flex justify-content-end mb-3">
                        <a asp-action="Crear" class="btn btn-sm btn-info">Nuevo Empleado</a>

                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>No</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Email</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>                                    
                                        <td>@item.idempleado</td>
                                        <td>@item.apellido</td>
                                        <td>@item.nombre</td>
                                        <td>@item.direccion</td>
                                        <td>@item.email</td>
                                        <td>
                                            <a asp-action="Detalle" asp-route-id="@item.idempleado" class="btn btn-sm btn-info">Detalles</a>
                                            <a asp-action="Editar" asp-route-id="@item.idempleado" class="btn btn-sm btn-info">Editar</a>
                                            <a asp-action="Eliminar" asp-route-id="@item.idempleado" class="btn btn-sm btn-info">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            }
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>
</section>

