@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FigurasModels
@{
    Layout = "_Layout";
}



<link href="~/css/HerenciaPOO.css" rel="stylesheet" />

<section class="HerenciaPOO">
    @Html.Partial("MenuFigura")

    <section class="section">

        <div class="contenido">
            @if (ViewBag.mensaje != null)
            {
                <div class="alert alert-dark" role="alert">
                    @ViewBag.mensaje
                </div>
            }
            <form asp-action="CalcularCirculo" method="post">
                <div class="divFlexHorizontal">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="ladoX" placeholder="Ingrese el lado X" name="ladoX" value="3.1416" readonly step="0.01">
                        <label for="floatingInput">Numero &Pi;</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="ladoY" placeholder="Ingrese el lado Y" name="ladoY" step="0.01">
                        <label for="floatingPassword">Radio</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-dark">Calcular</button>
                <a asp-action="LimpiarModelo" asp-route-vista="Circulo" class="btn btn-outline-dark">Limpiar</a>
            </form>


        </div>

        @if (ViewBag.resultadoFiguraModels != null)
        {
            <div class="contenido">
                <div class="divFlexHorizontalSB">
                    <div class="calculos">
                        <ul class="list-group">
                            <li class="list-group-item" id="resultadosLadoX">Numero &Pi;: @ViewBag.resultadoFiguraModels.ladoX</li>
                            <li class="list-group-item" id="resultadosLadoY">Radio: @ViewBag.resultadoFiguraModels.ladoY</li>
                            <li class="list-group-item" id="resultadosArea">Area: @ViewBag.resultadoFiguraModels.area</li>
                            <li class="list-group-item" id="resultadosPerimetro">Perimetro: @ViewBag.resultadoFiguraModels.perimetro</li>
                        </ul>
                    </div>
                    <div class="figura">
                        <canvas id="miCanvas"></canvas>
                    </div>
                </div>

            </div>
        }
    </section>
</section>

<script>

    var radioResultado = @ViewBag.resultadoFiguraModels?.ladoY ?? 0;

    if (radioResultado != 0) {
        dibujarCirculo(radioResultado);
    }

    function dibujarCirculo(radioResultado) {
        var canvas = document.getElementById('miCanvas');
        var ctx = canvas.getContext('2d');
        var radio = radioResultado;

        // Ajustar el tamaño del canvas según el radio del círculo
        var dimensionCanvas = radio * 2 + 150; // Sumar 50px para margen adicional
        canvas.width = dimensionCanvas;
        canvas.height = dimensionCanvas;

        // Limpiar el canvas antes de dibujar
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        // Dibujar el círculo
        ctx.beginPath();
        ctx.arc(radio + 25, radio + 25, radio, 0, 2 * Math.PI); // Ajustar la posición del círculo
        ctx.stroke();

        // Dibujar la línea del radio
        ctx.beginPath();
        ctx.moveTo(radio + 25, radio + 25); // Centro del círculo
        ctx.lineTo(radio + 25 + parseInt(radio), radio + 25); // Punto en el borde del círculo
        ctx.stroke();

        // Mostrar el valor del radio
        ctx.font = "16px Arial";
        ctx.fillText("Radio: " + radio + " px", radio + 35, radio + 15);
    }

</script>


